body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.et {
    font:bolder;
    font-family:Arial,Arial, Helvetica, sans-serif;
    margin-bottom:2px;
    font-size:large;
    font-weight:400;
    color:black;
}

.contenedor{
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px 0px;
    width:100%;
    max-width:450px;
    margin: 0 auto;
    position:relative;
    margin-top:25px;
}

.boton{
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.boton:hover {
     background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.boton:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}